* {
    font-family: "Montserrat", sans-serif;
}

/* Navbar */
#navbar {
    margin: auto;
}

/* Jumbotron content */
#welcome-text {
    font-size: 2rem;
}

/* About section */
#display-pic {
    border-radius: 50%;
    width: 200px;
    flex-basis: 0;
}

/* Media queries */
@media (max-width: 768px) {
    #about-me-container {
        width: 93% !important;
    }
}
